body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}


/* ===================
    HEADER
====================== */
header {
    height: 35vh;
    position: relative;
}

.heading-and-input-container {
    height: 92%;
    background: rgba(0, 0, 0, 0.45) url('../images/header-img.webp');
    background-size: cover;
    background-position: 50% 30%;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HEADING FIELD */
.heading-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.heading-container p {
    font-size: 2.5rem;
    font-weight: 800;

}

.heading-container a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.heading-container a:hover {
    text-decoration: underline;
}

/* INPUT FIELD */
.input-field-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* border: 1px solid black; */
}

input, .search-btn {
    border: 1px solid #D1D5DB;
}

input {
    width: 60%;
    height: 6vh;
    min-height: 30px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    background-color: white;
    background-image: url('../images/search-icon.svg');
    background-position: left 10px center;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 0 20px 0 40px;
    border-radius: 6px 0 0 6px;
}

.search-btn {
    width: 20%;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

/* ============
        MAIN
=============== */

/* ===================
    INITIAL STATE
====================== */
main {
    position: relative;
    height: 65vh;
}

.home-initial-state {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-width: 200px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.home-initial-state img {
    width: 60%;
    margin-bottom: 0;
}

.home-initial-state p {
    font-size: 1.25rem;
    font-weight: bold;
    color: #DFDDDD;
    margin-top: 0.5em;
    margin-bottom: 0;
}

/* =====================
        MOVIE SECTION
======================== */

/* --------- SECTION ---------- */
.movie-list-container {
    /* display: none; */
    width: 80%;
    max-width: 1000px;
    margin: 4em auto;
}

/*------ MOVIE CARD -------*/

.movie-card {
    gap: 2em;
}

hr {
    margin: 1.5em 0;
}

.movie-card, .movie-header, .movie-detail, .watchlist-btn {
    display: flex;
}

.movie-poster {
    width: 100%;
    max-width: 150px;
}

/* TYPOGRAPHY */
.movie-header .rating, .movie-detail p, .watchlist-btn {
    font-size: 0.85rem;
    color: #111827;
}

/* MOVIE CARD HEADER */
.movie-header {
    align-items: center;
    flex-wrap: wrap;
    gap: 0 1em;
}

.movie-header .title {
    font-size: 1.125rem;
    font-weight: 500;
}



/* MOVIE CARD DETAILS */
.movie-detail {
    gap: 0 2em ;
    flex-wrap: wrap;
    margin: 0;
}

.watchlist-btn {
    align-items: center;
    gap: 0.5em;
    font-family: inherit;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.watchlist-btn:hover {
    text-decoration: underline;
}

/* ABOUT MOVIE */
.about-movie {
    font-size: 0.875rem;
    color: #6B7280;
    margin-top: 1em;
    max-width: 700px;
}


/* =====================
        MEDIA QUERIES
======================== */

@media (min-width: 1000px) {
    /* ====================
            HEADER
    ======================= */
    .heading-container p {
        font-size: 3rem;
    }

    .heading-container a {
        font-size: 1.25rem;
    }

    /* ====================
            MOVIE SECTION
    ======================= */
    /* MOVIE DETAILS CONTAINER */
    .movie-details-container{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    /* TYPOGRAPHY */
    .movie-header .rating, .movie-detail p, .watchlist-btn {
        font-size: 1rem;
    }

    /* MOVIE HEADER */
    .movie-header {
        padding-top: 1em;
    }

    .movie-header .title {
        font-size: 1.5rem;
        margin: 0;
    }

    .movie-header .rating {
        margin: 0;
    }

    /* MOVIE DETAIL */
    .movie-detail {
        gap: 2.5em;
    }

    /* ABOUT MOVIE */
    .about-movie {
        font-size: 1rem;
        margin-top: 0;
    }
}
