body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}


/* ===================
    HEADER
====================== */
header {
    height: 35vh;
    position: relative;
}

.heading-and-input-container {
    height: 92%;
    background: rgba(0, 0, 0, 0.45) url('../images/header-img.webp');
    background-size: cover;
    background-position: 50% 30%;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HEADING FIELD */
.heading-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.heading-container p {
    font-size: 2.5rem;
    font-weight: 800;

}

.heading-container a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.heading-container a:hover {
    text-decoration: underline;
}

/* INPUT FIELD */
.input-field-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* border: 1px solid black; */
}

input, .search-btn {
    border: 1px solid #D1D5DB;
}

input {
    width: 60%;
    height: 6vh;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    background-color: white;
    background-image: url('../images/search-icon.svg');
    background-position: left 10px center;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 0 20px 0 40px;
    border-radius: 6px 0 0 6px;
}

.search-btn {
    width: 20%;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0 6px 6px 0;
}

/* ============
        MAIN
=============== */

/* ===================
    INITIAL STATE
====================== */
main {
    position: relative;
    height: 65vh;
}

.home-initial-state {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-initial-state img {
    width: 60%;
    margin-bottom: 0;
}

.home-initial-state p {
    font-size: 1.25rem;
    font-weight: bold;
    color: #DFDDDD;
    margin-top: 0.5em;
    margin-bottom: 0;
}