body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* ==================
        HEADER
===================== */
header {
    height: 35vh;
    background: rgba(0, 0, 0, 0.35) url('../images/header-img.webp');
    background-size: cover;
    background-position: 50% 30%;
    background-blend-mode: multiply;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header p {
    font-size: 2.5rem;
    font-weight: 800;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

header a:hover {
    text-decoration: underline;
}

/* ==================
        MAIN
===================== */

/* =====================
    INITIAL STATE
======================== */
main {
    height: 65vh;
    box-sizing: border-box;
    position: relative;
}

.watchlist-initial-state {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
}

.watchlist-initial-state p {
    font-size: 1.125rem;
    font-weight: bold;
    color: #DFDDDD;
    margin-bottom: 0;
}

.watchlist-initial-state a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
}

.watchlist-initial-state a:hover {
    text-decoration: underline;
}

.watchlist-initial-state a > p {
    font-size: 0.875rem;
    color: #363636;
    margin-top: 0;
} 

/* =====================
        MOVIE SECTION
======================== */

/* --------- SECTION DIV ---------- */
.movie-list-container {
    /* display: none; */
    width: 80%;
    max-width: 1000px;
    margin: 4em auto;
}

/*------ MOVIE CARD -------*/

.movie-card {
    gap: 2em;
}

hr {
    margin: 1.5em 0;
}

.movie-card, .movie-header, .movie-detail, .remove-btn {
    display: flex;
}

.movie-poster {
    width: 100%;
    max-width: 150px;
}

/* TYPOGRAPHY */
.movie-header .rating, .movie-detail p, .remove-btn {
    font-size: 0.85rem;
    color: #111827;
}

/* MOVIE CARD HEADER */
.movie-header {
    align-items: center;
    flex-wrap: wrap;
    gap: 0 1em;
}

.movie-header .title {
    font-size: 1.125rem;
    font-weight: 500;
}



/* MOVIE CARD DETAILS */
.movie-detail {
    gap: 0 2em ;
    flex-wrap: wrap;
    margin: 0;
}

.remove-btn {
    align-items: center;
    gap: 0.5em;
    font-family: inherit;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.remove-btn:hover {
    text-decoration: underline;
}

/* ABOUT MOVIE */
.about-movie {
    font-size: 0.875rem;
    color: #6B7280;
    margin-top: 1em;
    max-width: 700px;
}


/* =====================
        MEDIA QUERIES
======================== */

@media (min-width: 1000px) {
    /* ====================
            HEADER
    ======================= */
    .heading-container p {
        font-size: 3rem;
    }

    .heading-container a {
        font-size: 1.25rem;
    }

    /* ====================
            MOVIE SECTION
    ======================= */
    /* MOVIE DETAILS CONTAINER */
    .movie-details-container{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    /* TYPOGRAPHY */
    .movie-header .rating, .movie-detail p, .remove-btn {
        font-size: 1rem;
    }

    /* MOVIE HEADER */
    .movie-header {
        padding-top: 1em;
    }

    .movie-header .title {
        font-size: 1.5rem;
        margin: 0;
    }

    .movie-header .rating {
        margin: 0;
    }

    /* MOVIE DETAIL */
    .movie-detail {
        gap: 2.5em;
    }

    /* ABOUT MOVIE */
    .about-movie {
        font-size: 1rem;
        margin-top: 0;
    }
}